.home {
    display: flex;
    align-items: center;
        justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../public/assets/pictures/billiard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



.home .face {
    height: 50%;
    max-width: 40%;
    animation: head_wiggle 8s infinite ease-in-out;
}

.home .fly {
    position: absolute;
    width: 5%;
    animation: fly_motion 20s infinite ease-in-out;
}

.home .riddle{
    font-family: 'Courier New', Courier, monospace;
    width: 20%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    direction: rtl;
    animation: slow-fade-in 20s;
}

.home .riddle .question{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home .riddle .question p {
    margin: 10px;
}

.home .riddle .question h2 {
    text-decoration: underline;
}

.home .riddle .answer{
    width: 80%;
    height: 10%;
    font-size: 2em;
    direction: ltr;

}





