.movie{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: url(../../../public/assets/pictures/movie_theater.jpg);
    background-size: cover;
}

.movie video{
    position: absolute;
    width: 35%;
    top: 40%;
    border: 2px solid rgba(128, 128, 128, 0.507);
}

.movie .riddle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-family: 'Courier New', Courier, monospace;
    width: 20%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    direction: rtl;
    animation: slow-fade-in 5s;
}

.movie .riddle .question h1{
    text-decoration: underline;
}

.movie .riddle input{
    width: 80%;
    height: 10%;
    font-size: 2em;
    direction: ltr;
}